<h1><%= @book.title %></h1>
<a href="/<%= @book.path %>">
  <img src="/<%= @book.cover %>" />
</a>
<% @authors.each do |author| %>
  <p><a href="/author/<%= author.id %>"><%= author.name %></a></p>
<% end %>
<p><%= @book.description %></p>
